body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #111;
}

.logo {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li a:hover {
    color: #09ebc5;
}

/* Hero Section */
.hero {
    height: 50vh;
    background: #09ebc5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px 50px;
    color: black;
}

.hero-text h1 {
    font-size: 70px;
    margin: 0;
}

.hero-text p {
    font-size: 30px;
    margin: 15px 0;
}

.btn {
    padding: 12px 25px;
    background: #2f8a7e;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    border-radius: 10px;
}

.btn:hover {
    background: #1b5850;
}

/* Sections */
.section {
    padding: 60px 50px;
    background: #b8c9c5;
  font-size:18px;
}

.section.alt {
    background: #e8f5e9;
}

.section h2 {
    margin-bottom: 30px;
    font-size: 30px;
}

.section ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

/* Footer */
footer {
    background: #111;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.program-list, .workout-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.program-card, .workout-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.program-card:hover, .workout-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.active {
    color: #09ebc5;
    font-weight: bold;

}
@media (max-width: 600px) {

    header {
        flex-direction: column;
        text-align: center;
        padding: 15px 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 12px;
        padding: 0;
    }

    .hero {
        height: auto;
        padding: 40px 20px;
    }

    .hero-text h1 {
        font-size: 40px;
    }

    .hero-text p {
        font-size: 20px;
    }

    .btn {
        font-size: 18px;
        padding: 10px 20px;
    }

    .section {
        padding: 40px 20px;
    }

    .program-list,
    .workout-list {
        grid-template-columns: 1fr;
    }
@media (max-width: 900px) {
    
    header {
        padding: 20px 30px;
    }

    .hero-text h1 {
        font-size: 55px;
    }

    .hero-text p {
        font-size: 25px;
    }

    .program-list,
    .workout-list {
        grid-template-columns: repeat(2, 1fr);
    }
}


